node_modules
/node_modules
.env
./.env
coverage

.env.example
.eslintignore

.env.example
Dockerfile
Dockerfile.dev
README.md
.env.example
.git
.gitignore
.dockerignore
.prettierrc.json
.eslintrc.json